<div>
    <h1>Password Verification Code</h1>
    <hr />
    <h3>Use the code below within the blood pressure numbers app to continue the process of changing your password.</h3>
    <h3><%= @code %></h3>
    <hr />
    <p>You email the sender of this email for technical support if needed.</p>
</div>